In [2]:
# Dependencies
import os
import pandas as pd
import numpy as np

In [3]:
# Create a list of paths to our raw data files

DATA_DIR = 'data/raw/'

### List of files to be read

files = os.listdir(DATA_DIR)
#print(files)

full_file_list = []

for file in files:
    full_file_list.append(DATA_DIR + file)
print(full_file_list)

['data/raw/April_2017.xlsx', 'data/raw/Jan_2018.xlsx', 'data/raw/May_2018.xlsx', 'data/raw/Oct_2017.xlsx', 'data/raw/plant_codes_Jan_2018.xlsx', 'data/raw/Sept_2018.xlsx']

In [4]:
# Read in our data files
## Start with the two simple 2017 files that are a single sheet

#df_list = []

april_2017 = pd.read_excel(full_file_list[0])
oct_2017 = pd.read_excel(full_file_list[3])

print(oct_2017.head())

                Timestamp Trimmer        Strain  Weight (g)
0 2017-10-27 00:51:17.860   House    Lemon Puff        45.0
1 2017-10-27 00:51:52.290   House    Lemon Puff        36.0
2 2017-10-27 00:52:11.212  Smitty    Lemon Puff        42.0
3 2017-10-27 00:55:55.562  Smitty    Lemon Puff        21.5
4 2017-10-27 16:07:25.476   House  Grape Breath        14.5

In [5]:
### Look at and Clean the Simple Files

april_2017.isnull().sum()
april_2017.shape
april_2017 = april_2017.dropna()

april_2017.shape

###########
# Clean up the data in the oct_2017 file
oct_2017.isnull().sum()
oct_2017.head()
# Don't need to clean up the data in the oct_2017 file

#april_2017.head()

                Timestamp Trimmer        Strain  Weight (g)
0 2017-10-27 00:51:17.860   House    Lemon Puff        45.0
1 2017-10-27 00:51:52.290   House    Lemon Puff        36.0
2 2017-10-27 00:52:11.212  Smitty    Lemon Puff        42.0
3 2017-10-27 00:55:55.562  Smitty    Lemon Puff        21.5
4 2017-10-27 16:07:25.476   House  Grape Breath        14.5

In [6]:
#### Pull 2 sheets from the 2018 files
### Need to get the form responses and the Plant_info sheet

# January 2018
jan_2018_response = pd.read_excel(full_file_list[1])
jan_2018_info = pd.read_excel(full_file_list[1], sheet_name='Plant_Info')

# May 2018
may_2018_response = pd.read_excel(full_file_list[2])
may_2018_info = pd.read_excel(full_file_list[2], sheet_name='Plant_Info')
may_2018_info

# September 2018
sept_2018_response = pd.read_excel(full_file_list[5])
sept_2018_info = pd.read_excel(full_file_list[5], sheet_name='Plant_Info')


#full_file_list

In [7]:
### MERGE THE 2018 Files on The Plant ID column


# First rename the Plant ID columns to plant_id

jan_2018_response.rename(columns={'Plant ID': 'plant_id'}, inplace=True)
may_2018_response.rename(columns={'Plant ID': 'plant_id'}, inplace=True)
sept_2018_response.rename(columns={'Plant ID': 'plant_id'}, inplace=True)

jan_2018_info.rename(columns={'PlantID': 'plant_id'}, inplace=True)
may_2018_info.rename(columns={'PlantID': 'plant_id'}, inplace=True)
sept_2018_info.rename(columns={'PlantID': 'plant_id'}, inplace=True)
jan_2018_info.head()

,Timestamp,plant_id,Strain Name,Flower Time,Pot Size (gal),Notes:
0,2018-01-14 21:30:19.244,A001,Tang Breath,45,10,"Herming, pulled early"
1,2018-01-17 23:50:29.884,B01,Super Secret Weapon,48,10,"Small plant (R), herming"
2,2018-01-23 21:16:55.810,C01,Electric Lemon G,53,7,"Pulled early, nasty aphids."
3,2018-01-24 22:12:14.145,D01,Special Candy Land,55,7,NaN
4,2018-01-24 22:17:10.804,D02,NYC Diesel,55,7,NaN

In [8]:
# Merge the 2018 files on the plant_id column

jan_2018 = pd.merge(jan_2018_response, jan_2018_info, on='plant_id')
may_2018 = pd.merge(may_2018_response, may_2018_info, on='plant_id')
sept_2018 = pd.merge(sept_2018_response, sept_2018_info, on='plant_id')

In [10]:
### Check for null values and clean if needed

df_list = [jan_2018, may_2018, sept_2018, oct_2017, april_2017 ]
df_name = []

for each in df_list:
    print(each.isnull().sum())
    print(each.shape)

Timestamp_x         0
plant_id            0
Trimmer             0
Weight (g)          0
Simple_Date         0
Timestamp_y         3
Strain Name         0
Flower Time         0
Pot Size (gal)      0
Notes:            124
dtype: int64
(166, 10)
Timestamp_x     0
plant_id        0
Trimmer         0
Weight (g)      0
Simple_Date     0
Unnamed: 5     61
Timestamp_y     0
Strain Name     0
Flower Time    55
dtype: int64
(63, 9)
Timestamp_x        0
plant_id           0
Trimmer            0
Weight (g)         0
SImple Date        0
Timestamp_y       21
Strain Name        0
Flower Time        0
Pot Size (gal)     0
Notes:            94
dtype: int64
(121, 10)
Timestamp     0
Trimmer       0
Strain        0
Weight (g)    0
dtype: int64
(99, 4)
Timestamp     0
Strain        0
Trimmer       0
Weight (g)    0
dtype: int64
(63, 4)

In [13]:
df_list_name = ['jan_2018', 'may_2018', 'sept_2018', 'oct_2017', 'april_2017']
df_list_name

['jan_2018', 'may_2018', 'sept_2018', 'oct_2017', 'april_2017']

In [59]:
### October 2017

oct_2017.head()
oct_2017.rename(columns={'Strain': 'Strain Name'}, inplace=True)
oct_2017.head()

oct_2017_by_strain = pd.pivot_table(oct_2017, 
                                    values='Weight (g)',
                                    index=['Strain Name'],
                                    columns=['Trimmer'],
                                    aggfunc=np.sum)

oct_2017_by_strain['Total Wt (g)'] = oct_2017_by_strain.sum(axis=1)
oct_2017_by_strain['Total Wt (oz)'] = oct_2017_by_strain['Total Wt (g)'] / 28.3495231
oct_2017_by_strain.head()

print(f'The total weight of the plants is {oct_2017_by_strain["Total Wt (oz)"].sum()} ounces or {oct_2017_by_strain["Total Wt (oz)"].sum()/16} pounds')

The total weight of the plants is 118.43232735015569 ounces or 7.4020204593847305 pounds

In [60]:
### April 2017

april_2017.head()

april_2017.rename(columns={'Strain':'Strain Name'}, inplace=True)

april_2017_by_strain = pd.pivot_table(april_2017,
                                        values='Weight (g)',
                                        index=['Strain Name'],
                                        columns=['Trimmer'],
                                        aggfunc=np.sum)

april_2017_by_strain['Total Wt (g)'] = april_2017_by_strain.sum(axis=1)
april_2017_by_strain['Total Wt (oz)'] = april_2017_by_strain['Total Wt (g)'] / 28.3495231
april_2017_by_strain.head()


print(f'The total weight of the plants is {april_2017_by_strain["Total Wt (oz)"].sum()} ounces or {april_2017_by_strain["Total Wt (oz)"].sum()/16} pounds')

The total weight of the plants is 127.10972199740462 ounces or 7.944357624837789 pounds

In [61]:
#### MAY 2018

may_2018_by_strain = pd.pivot_table(may_2018, values='Weight (g)',
                                 index=['Strain Name'], 
                                 columns=['Trimmer'], aggfunc=np.sum)

may_2018_by_strain['Total Wt (g)'] = may_2018_by_strain.sum(axis=1)
may_2018_by_strain['Total Wt (oz)'] = may_2018_by_strain['Total Wt (g)'] / 28.3495231
may_2018_by_strain.head()


print(f'The total weight of the plants is {may_2018_by_strain["Total Wt (oz)"].sum()} ounces or {may_2018_by_strain["Total Wt (oz)"].sum()/16} pounds')

The total weight of the plants is 124.56646933859709 ounces or 7.785404333662318 pounds

In [62]:
#### September 2018

sept_2018_by_strain = pd.pivot_table(sept_2018, values='Weight (g)',
                                    index=['Strain Name'],
                                    columns=['Trimmer'], aggfunc=np.sum)

sept_2018_by_strain['Total Wt (g)'] = sept_2018_by_strain.sum(axis=1)
sept_2018_by_strain['Total Wt (oz)'] = sept_2018_by_strain['Total Wt (g)'] / 28.3495231
sept_2018_by_strain.head()

print(f'The total weight of the plants is {sept_2018_by_strain["Total Wt (oz)"].sum()} ounces or {sept_2018_by_strain["Total Wt (oz)"].sum()/16} pounds')

The total weight of the plants is 370.84574449155383 ounces or 23.177859030722114 pounds

In [65]:
#### Example of Aggrigating the data

#### Create Pivot Tables for the 2018 files

jan_2018_by_strain = pd.pivot_table(jan_2018, 
    values='Weight (g)', 
    index='Strain Name', 
    columns='Trimmer', 
    aggfunc=np.sum)

# Total The Weight by Strain Name
jan_2018_by_strain['Total Wt'] = jan_2018_by_strain.sum(axis=1)

# Create a new column for the total weight in ounces by strain name

jan_2018_by_strain['Total Wt (oz)'] = jan_2018_by_strain['Total Wt'] / 28.3495231

jan_2018_by_strain

print(f'The total weight of the plants is {jan_2018_by_strain["Total Wt (oz)"].sum()} ounces or {jan_2018_by_strain["Total Wt (oz)"].sum()/16} pounds')

The total weight of the plants is 326.8696960902316 ounces or 20.429356005639477 pounds

In [66]:
#### Output the data to a csv files
## Tot look at in Tableau

jan_2018_by_strain.to_csv('data/jan_2018_by_strain.csv')
may_2018_by_strain.to_csv('data/may_2018_by_strain.csv')
sept_2018_by_strain.to_csv('data/sept_2018_by_strain.csv')
oct_2017_by_strain.to_csv('data/oct_2017_by_strain.csv')
april_2017_by_strain.to_csv('data/april_2017_by_strain.csv')