In [1]:
#### Dependencies

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
# Create a list of paths to our raw data files

DATA_DIR = 'data/raw/'

### List of files to be read

files = os.listdir(DATA_DIR)
#print(files)

full_file_list = []

for file in files:
    full_file_list.append(DATA_DIR + file)
print(full_file_list)

['data/raw/April_2017.xlsx', 'data/raw/Jan_2018.xlsx', 'data/raw/May_2018.xlsx', 'data/raw/May_2018_2.xlsx', 'data/raw/Oct_2017.xlsx', 'data/raw/plant_codes_Jan_2018.xlsx', 'data/raw/RJ Trim Oct 17 (1).xlsx', 'data/raw/Sept_2018.xlsx']

In [167]:
### Read in the data

# Creates dataframe from the first sheet of each file in the raw data directory

## Returns a list of the dataframes
dfs = [pd.read_excel(f) for f in full_file_list if os.path.isfile(f)]



### Seperate the list into idividual dataframes


may_2017 = dfs[0]
jan_2018 = dfs[1]
may_2018 = dfs[2]
oct_2017 = dfs[4]
sept_2018 = dfs[7]
plant_id = dfs[5]

In [168]:
# # check the headers of all the dfs
jan_2018.head()

may_2017.isnull().sum()
#may_2017.shape
oct_2017.isnull().sum()
#oct_2017.shape
# plant_id.head()

Timestamp      100
Trimmer        100
Strain         100
Weight (g)     100
DATEVALUE      199
Simple_Date      7
dtype: int64

In [169]:

##### DATA CLEANING ######


### REMOVE EMPTY COLUMNS FROM THE DFS

may_2018.drop(may_2018.columns[5],axis=1,inplace=True)
may_2017.drop(may_2017.columns[3],axis=1,inplace=True)

oct_2017.drop(oct_2017.columns[4],axis=1,inplace=True)



#### DROP ROWS WITH NA VALUES
#may_2017.dropna(inplace=True)
may_2018.dropna(inplace=True)
sept_2018.dropna(inplace=True)
jan_2018.dropna(inplace=True)
oct_2017.dropna(inplace=True)

In [170]:
### Check the shape of the dataframes

df_list = [may_2017,may_2018,oct_2017,jan_2018,sept_2018]

for each in df_list:
    print(each.shape)

(145, 4)
(85, 5)
(92, 5)
(166, 5)
(121, 5)

In [171]:
### Check the number of rows with NA values


for each in df_list:
    print(each.isnull().sum())

Timestamp      82
Strain         82
Plant #       145
Weight (g)     82
dtype: int64
Timestamp      0
Plant ID       0
Trimmer        0
Weight (g)     0
Simple_Date    0
dtype: int64
Timestamp      0
Trimmer        0
Strain         0
Weight (g)     0
Simple_Date    0
dtype: int64
Timestamp      0
Plant ID       0
Trimmer        0
Weight (g)     0
Simple_Date    0
dtype: int64
Timestamp      0
Plant ID       0
Trimmer        0
Weight (g)     0
SImple Date    0
dtype: int64